.docpage{
    background-color: rgb(125, 49, 49);
    margin: 0;
    padding: 0;
    width: 100%;
    
 
}
.docpage h2{
    position: relative;
    top:10px;
    text-align: center;
}
.docpage-card{
    background-color: rgb(31, 201, 133);
    height: 400px;
    width: 300px;
    border: solid  2px gray;
    margin: 30px;
    overflow: hidden;
    border-radius: 10%;
    padding: 10px;
    float: left;
}
.docpage-card:hover{
    background-color: rgb(10, 125, 79);
}

.docpage-card-img{
    height: 150px;
    width: 150px;
    background-color: antiquewhite;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 55px;

}

.docpage-container{
    /* background-color: aqua; */
    position: relative;
    top: 20px;
   
}


.ul1{
  
   /* background-color: gold; */
   /* display: flex; */
   float: left;
  
}  

.ul1 li{
    font-size: 13px;
padding: 10px;
}

.ul2{
  
    /* background-color: green; */
   margin-left: 10px;
    /* display: flex; */
}

.ul2 li{
    font-size: 13px;
padding: 10px;
   
}
